<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="PUYO.Properties.Settings.ERDPUYOConnectionString" connectionString="Data Source=DESKTOP-VJD692D;Initial Catalog=ERDPUYO;Integrated Security=True;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="PUYO.Properties.Settings.CashierPUYOConnectionString" connectionString="Data Source=DESKTOP-VJD692D;Initial Catalog=CashierPUYO;Integrated Security=True;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="PUYO.Properties.Settings.WarehousePUYOConnectionString" connectionString="Data Source=DESKTOP-VJD692D;Initial Catalog=WarehousePUYO;Integrated Security=True;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="PUYO.Properties.Settings.PUYO_WAREHOUSEConnectionString" connectionString="Data Source=KEVINABRAM6EED\SQLEXPRESS;Initial Catalog=PUYO_WAREHOUSE;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    <add name="PUYO.Properties.Settings.PUYO_CASHIERConnectionString" connectionString="Data Source=KEVINABRAM6EED\SQLEXPRESS;Initial Catalog=PUYO_CASHIER;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    <add name="PUYO.Properties.Settings.PUYO_WAREHOUSEConnectionString1" connectionString="Data Source=KEVINABRAM6EED\SQLEXPRESS;Initial Catalog=PUYO_WAREHOUSE;Integrated Security=True;Connect Timeout=30;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    <add name="PUYO_WAREHOUSEEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KEVINABRAM6EED\SQLEXPRESS;initial catalog=PUYO_WAREHOUSE;integrated security=True;connect timeout=30;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PUYO_WAREHOUSEEntities1" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KEVINABRAM6EED\SQLEXPRESS;initial catalog=PUYO_WAREHOUSE;integrated security=True;connect timeout=30;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PUYO_WAREHOUSEEntities2" connectionString="metadata=res://*/SalesModel.csdl|res://*/SalesModel.ssdl|res://*/SalesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KEVINABRAM6EED\SQLEXPRESS;initial catalog=PUYO_WAREHOUSE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PUYO_WAREHOUSE_ENTITY" connectionString="metadata=res://*/SalesModel.csdl|res://*/SalesModel.ssdl|res://*/SalesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KEVINABRAM6EED\SQLEXPRESS;initial catalog=PUYO_WAREHOUSE;integrated security=True;connect timeout=30;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PUYO_WAREHOUSE_FORECAST_ENTITY" connectionString="metadata=res://*/AverageModelForecast.csdl|res://*/AverageModelForecast.ssdl|res://*/AverageModelForecast.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KEVINABRAM6EED\SQLEXPRESS;initial catalog=PUYO_WAREHOUSE;integrated security=True;connect timeout=30;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PUYO_WAREHOUSE_ALL_ENTITY" connectionString="metadata=res://*/SalesModelAll.csdl|res://*/SalesModelAll.ssdl|res://*/SalesModelAll.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KEVINABRAM6EED\SQLEXPRESS;initial catalog=PUYO_WAREHOUSE;integrated security=True;connect timeout=30;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PUYO_WAREHOUSE_AVERAGE_ENTITY" connectionString="metadata=res://*/AverageSales.csdl|res://*/AverageSales.ssdl|res://*/AverageSales.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KEVINABRAM6EED\SQLEXPRESS;initial catalog=PUYO_WAREHOUSE;integrated security=True;connect timeout=30;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PUYO_WAREHOUSE_EXPIRED_ENTITY" connectionString="metadata=res://*/ExpiredProducts.csdl|res://*/ExpiredProducts.ssdl|res://*/ExpiredProducts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KEVINABRAM6EED\SQLEXPRESS;initial catalog=PUYO_WAREHOUSE;integrated security=True;connect timeout=30;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PUYO_WAREHOUSE_EXPIRED_ENTITY_ALL" connectionString="metadata=res://*/ExpiredProductsAll.csdl|res://*/ExpiredProductsAll.ssdl|res://*/ExpiredProductsAll.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KEVINABRAM6EED\SQLEXPRESS;initial catalog=PUYO_WAREHOUSE;integrated security=True;connect timeout=30;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PUYO_WAREHOUSE_AVG_ENTITY" connectionString="metadata=res://*/AverageSales.csdl|res://*/AverageSales.ssdl|res://*/AverageSales.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KEVINABRAM6EED\SQLEXPRESS;initial catalog=PUYO_WAREHOUSE;integrated security=True;connect timeout=30;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PUYO_WAREHOUSE_EXP_ENTITY" connectionString="metadata=res://*/ExpiredProducts.csdl|res://*/ExpiredProducts.ssdl|res://*/ExpiredProducts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KEVINABRAM6EED\SQLEXPRESS;initial catalog=PUYO_WAREHOUSE;integrated security=True;connect timeout=30;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PUYO_WAREHOUSE_EXP_ALL_ENTITY" connectionString="metadata=res://*/ExpiredProductsAll.csdl|res://*/ExpiredProductsAll.ssdl|res://*/ExpiredProductsAll.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KEVINABRAM6EED\SQLEXPRESS;initial catalog=PUYO_WAREHOUSE;integrated security=True;connect timeout=30;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PUYO_WAREHOUSE_EXP1_ALL_ENTITY" connectionString="metadata=res://*/ExpiredProductsAll.csdl|res://*/ExpiredProductsAll.ssdl|res://*/ExpiredProductsAll.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KEVINABRAM6EED\SQLEXPRESS;initial catalog=PUYO_WAREHOUSE;integrated security=True;connect timeout=30;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PUYO_WAREHOUSE_RESTOCK_ENTITY" connectionString="metadata=res://*/Restock.csdl|res://*/Restock.ssdl|res://*/Restock.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KEVINABRAM6EED\SQLEXPRESS;initial catalog=PUYO_WAREHOUSE;integrated security=True;connect timeout=30;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PUYO_WAREHOUSE_RESTOCK_ALL_ENTITY" connectionString="metadata=res://*/RestockAll.csdl|res://*/RestockAll.ssdl|res://*/RestockAll.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KEVINABRAM6EED\SQLEXPRESS;initial catalog=PUYO_WAREHOUSE;integrated security=True;connect timeout=30;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PUYO_WAREHOUSE_RESTOCK1_ENTITY" connectionString="metadata=res://*/Restock.csdl|res://*/Restock.ssdl|res://*/Restock.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KEVINABRAM6EED\SQLEXPRESS;initial catalog=PUYO_WAREHOUSE;integrated security=True;connect timeout=30;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PUYO_WAREHOUSE_RESTOCK1_ALL_ENTITY" connectionString="metadata=res://*/RestockAll.csdl|res://*/RestockAll.ssdl|res://*/RestockAll.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KEVINABRAM6EED\SQLEXPRESS;initial catalog=PUYO_WAREHOUSE;integrated security=True;connect timeout=30;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PUYO_AVERAGE_SALES_ALL_ENTITY" connectionString="metadata=res://*/AverageSalesForecastAll.csdl|res://*/AverageSalesForecastAll.ssdl|res://*/AverageSalesForecastAll.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KEVINABRAM6EED\SQLEXPRESS;initial catalog=PUYO_WAREHOUSE;integrated security=True;connect timeout=30;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>